  .header {
    background-color: #fff;
    color: #000;
    padding: 1rem 2rem;
    transition: var(--transition);

    .welcoming {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.75rem;

      h1 {
        font-weight: 700;
        color: #111;
        margin: 0;
      }

      .greeting {
        font-size: 25px;
        color: #333;
      }
    }

    .identity {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.75rem;

      .logo {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transition: transform 0.3s ease;

        img {
          height: 45px;
          width: auto;
          object-fit: contain;
        }

        .company-name {
          font-size: 0.95rem;
          color: #222;
          font-weight: 600;
          white-space: nowrap;
          margin: 0;
        }

        &:hover {
          transform: scale(1.1);
        }
      }

      .circle-avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        transition: transform 0.3s ease;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .second-row {
      display: flex !important;
      align-items: center !important;
      justify-content: space-between !important;
      flex-wrap: nowrap !important;
      margin-bottom: 1rem;

      .stylish {
        color: #7B7B7B;
        font-size: 0.9rem;
        margin-top: 4px;
      }

      .title-box {
        display: flex;
        flex-direction: column;
        text-align: right;

        h3 {
          margin: 0;
          font-weight: 600;
        }

        p {
          margin: 0;
          margin-top: 4px;
          font-size: 0.9rem;


        }
      }
    }


    .btn-outline-download {
      border: 2px solid rgb(210, 205, 205);
    }

    .header-actions {
      display: flex;
      width: 35%;
      flex-shrink: 0;
      justify-content: flex-end;
      align-items: center;
      padding-right: 2rem;
    }
  }

  .columns-grid {
    width: 100%;
    padding: 1rem 2rem;

    .grid-header {
      margin-bottom: 1.5rem;

      /* مسافة بين select all والأعمدة */
      .select-all {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: 600;
        font-size: 1rem;

        input {
          width: 18px;
          height: 18px;
        }
      }
    }

    .columns-wrapper {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      /* 6 أعمدة */
      gap: 1.5rem;

      .column {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .field {
          label {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            input {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }
  }

  .settings-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4 items per row
    gap: 1.5rem 2rem; // space between items
    margin-top: 1rem;
  }

  .setting-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  /* Toggle Switch */
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    width: 100px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked+.slider {
    background-color: #034039;
  }

  input:checked+.slider:before {
    transform: translateX(75px);
  }
