<div class="table-container container mt-4">
  <table class="table table-striped table-hover align-middle text-center">
    <thead class="table-header">
      <tr>
        <th>اسم التأمين الصحي</th>
        <th>تاريخ البدء</th>
        <th>تاريخ الانتهاء</th>
        <th>اقتطاع</th>
        <th>الحالة</th>

        <!-- الأعمدة الفاضية -->
        <th *ngFor="let c of emptyCols"></th>

        <th>
          <button type="button" class="btn btn-outline-gradient">
            +
            <span> اضافة تابع</span>
          </button>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of projects">
        <td>{{ item.name }}</td>
        <td>{{ item.start }}</td>
        <td>{{ item.end }}</td>
        <td>{{ item.deduction }}</td>

        <td>
          <span
            class="status-badge"
            [ngClass]="{
              completed: item.status === 'completed',
              'in-progress': item.status === 'in-progress'
            }"
          >
            {{ item.statusText }}
            <span class="status-dot"></span>
          </span>
        </td>

        <!-- أعمدة فارغة ديناميكية -->
        <td *ngFor="let c of emptyCols"></td>

        <td>
          <button type="button" class="btn btn-outline-gradient">
            <img src="assets/images/report.png" alt class="btn-icon">
            <span> تعديل </span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<nav aria-label="صفحات">
  <ul class="pagination justify-content-start flex-row-reverse">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="السابق">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>

    <li class="page-item active">
      <a class="page-link" href="#">٢</a>
    </li>

    <li class="page-item">
      <a class="page-link" href="#" aria-label="التالي">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
  </ul>
</nav>
