<header class="header container-fluid py-3 bg-white">
  <!-- First Row: Greeting and Company Identity -->
  <div class="row align-items-center justify-content-between g-0 mb-3">
    <!-- Right side: Greeting -->
    <section
      class="welcoming col-md-6 d-flex align-items-center justify-content-md-start justify-content-center text-md-start text-center gap-2">
      <h1 class="fw-bold mb-0">ادارة الاجازات و المغادرات</h1>
    </section>

    <!-- Left side: Company identity -->
    <section class="identity col-md-6 d-flex align-items-center justify-content-md-end justify-content-center gap-3">
      <div class="circle-avatar">
        <img src="assets/images/KSA.png" alt="Avatar" />
      </div>

      <div class="logo">
        <img src="assets/images/header-logo.png" alt="Logo" />
        <h3 class="company-name mb-0">شركة آفاق السبل لتقنية المعلومات</h3>
      </div>
    </section>
  </div>

  <!-- Second Row: Buttons, Search Bar, Date Picker -->
  <div class="row align-items-center justify-content-between g-0 mb-3">
    <!-- Left: Buttons -->
    <div class="taps col-md-4 d-flex flex-wrap gap-2">
      <button type="button" class="btn btn-outline-daysOff d-flex align-items-center gap-2">
        <img src="assets/images/aero.png" alt="قسم التسويق" class="btn-icon" />
        <span>ايام الاجازة </span>
      </button>
      <button type="button" class="btn btn-outline-customersServices">
       ⏰
        <span> ساعة المغادرة</span>
      </button>
       </div>

    <!-- Center: Search Bar -->
    <div class="navbar__center col-md-4 d-flex justify-content-center">
      <form class="navbar__search ">
        <input type="text" placeholder="ابحث عن موظف" aria-label="بحث" />
        <button type="submit" aria-label="بحث">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>

    <!-- Right -->

    <div class="taps col-md-4 d-flex flex-wrap gap-2 header-actions">
      <button type="button" class="btn btn-outline-download">
        <img src="assets/images/folder.png" alt class="btn-icon">
        <span>تحميل الملفات </span>
      </button>
      <button type="button" class="btn btn-outline-gradient">
        <img src="assets/images/add.png" alt class="btn-icon">
        <span> اضافة حركة</span>
      </button>
    </div>
  </div>
</header>
