<!-- HEADER -->
<header class="header container-fluid py-3 bg-white">
  <div class="row g-0 mb-2 second-row justify-content-between align-items-center">
    <div class="search-wrapper">
      <div class="search-bar">
        <span class="icon search">
          <i class="bi bi-search"></i>
        </span>
        <input type="text" class="search-input" placeholder="البحث عن فئة" />
        <span class="icon filter">
          <i class="bi bi-sliders"></i>
        </span>
      </div>
    </div>

    <button class="add-btn" data-bs-toggle="modal" data-bs-target="#addResignationModal" (click)="onAddClick()">
      +اضافة الانهاء
    </button>
  </div>
</header>

<!-- TABLE -->
<div class="table-wrapper">
  <div class="table-container">
    <table class="custom-table">
      <thead>
        <tr>
          <th>الموظف</th>
          <th>نوع </th>
          <th>تاريخ الانهاء </th>
          <th>تاريخ الاخطار</th>
          <th>السبب</th>
          <th>الحالة</th>
          <th>الوثائق</th>
          <th>الإجراءات</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of dataSource">
           </tr>

        <tr *ngIf="dataSource.length === 0">
        </tr>
      </tbody>
    </table>
  </div>

  <!-- PAGINATION -->
  <div class="pagination-container">
    <div class="pagination-right">تنقل بين الصفحات</div>
    <div class="pagination-left">
     <button class="nav-btn">→</button>
      <span class="page-number">1</span>
      <button class="nav-btn">←</button>
    </div>
  </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="addResignationModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-header border-0 pb-0 justify-content-between">
        <h5 class="modal-title fw-bold">إضافة نهاية جديدة</h5>
        <button type="button" class="btn-close-custom" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>

      <div class="modal-body pt-4">
        <form [formGroup]="indicatorForm">
          <!-- الموظف -->
          <div class="mb-4">
            <label class="form-label fw-semibold">الموظف</label>
            <select formControlName="employeeId" class="form-select custom-input">
              <option value="">اختر الموظف</option>
              <option *ngFor="let emp of employees" [value]="emp.id">{{ emp.name }}</option>
            </select>
          </div>

          <div class="mb-4">
            <label class="form-label fw-semibold">نوع الانهاء</label>
            <select formControlName="employeeId" class="form-select custom-input">
              <option value="">اختر النوع</option>
              <option *ngFor="let emp of employees" [value]="emp.id">{{ emp.name }}</option>
            </select>
          </div>

          <!-- تاريخ الاستقالة -->
          <div class="mb-4">
            <label class="form-label fw-semibold">تاريخ الاخطار</label>
            <input type="date" formControlName="resignationDate" class="form-control custom-input">
          </div>

          <!-- آخر يوم عمل -->
          <div class="mb-4">
            <label class="form-label fw-semibold">آخر  الانهاء</label>
            <input type="date" formControlName="lastWorkingDay" class="form-control custom-input">
          </div>

          <!-- فترة الإشعار -->
          <div class="mb-4">
            <label class="form-label fw-semibold">فترة الاشعار</label>
            <input type="text" formControlName="noticePeriod" class="form-control custom-input">
          </div>

          <!-- السبب -->
          <div class="mb-4">
            <label class="form-label fw-semibold">السبب</label>
            <select formControlName="reasonType" class="form-select custom-input">
              <option value="">اختر السبب</option>
              <option *ngFor="let reason of reasons" [value]="reason.id">{{ reason.name }}</option>
            </select>
          </div>

          <!-- وصف -->
          <div class="mb-4">
            <label class="form-label fw-semibold">الوصف</label>
            <textarea formControlName="reasonDescription" class="form-control custom-input"></textarea>
          </div>

          <!-- ساعات -->
          <div class="mb-4">
            <label class="form-label fw-semibold">الساعات</label>
            <input type="number" formControlName="hours" class="form-control custom-input">
            <div *ngIf="indicatorForm.get('hours')?.touched && indicatorForm.get('hours')?.invalid" class="text-danger small">
              هذا الحقل مطلوب
            </div>
          </div>

          <!-- السعة -->
          <div class="mb-4">
            <label class="form-label fw-semibold">السعة</label>
            <input type="number" formControlName="capacity" class="form-control custom-input">
            <div *ngIf="indicatorForm.get('capacity')?.touched && indicatorForm.get('capacity')?.invalid" class="text-danger small">
              هذا الحقل مطلوب
            </div>
          </div>

          <!-- المرفقات -->
          <div class="form-group mb-4">
            <label class="form-label">الوثائق *</label>
            <input type="file" formControlName="attachment" class="form-control">
          </div>
        </form>
      </div>

      <div class="modal-footer border-0 justify-content-start gap-3">
        <button class="btn btn-cancel px-5" data-bs-dismiss="modal">إلغاء</button>
        <button class="btn btn-save px-5" [disabled]="indicatorForm.invalid" (click)="saveIndicator()">
          حفظ
        </button>
      </div>
    </div>
  </div>
</div>
