.second {
  margin-top: 10px;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 10px;
}

.btns {
  display: flex;
  gap: 10px;
}

.total {
  .icon{
    font-size: 30px;
  }
}

.btn-outline-gradient,
.btn-outline-designing {
  position: relative;
  z-index: 1;
  background-color: transparent;
  border: none;
  border-radius: 0.375rem;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  overflow: hidden;
}

.btn-outline-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(90deg, rgba(128, 120, 121, 0.2) 0%, #807879 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.btn-outline-gradient {
  color: black;
}

.btn-outline-gradient:hover {
  background-color: gray;
  color: white;
}

.btn-outline-designing {
  position: relative;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.375rem;
  color: #D49C3A;
  background: transparent;
  transition: all 0.3s ease;
}

.btn-outline-designing::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(90deg, rgba(212, 156, 58, 0.2) 0%, #D49C3A 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.btn-outline-designing:hover {
  background-color: #D49C3A;
  color: white;
}

.stylish {
  color: black;
}

