<div dir="rtl">
  <!-- Top Stats Row -->
  <div class="stats-grid">

    <!-- Total Referrals -->
    <div class="stat-card">
      <div class="card-header">
        <div class="title-group">
          <span class="label">إجمالي الإحالات</span>
          <span class="value orange">0</span>
        </div>
        <div class="icon">
          <img src="assets/images/yellow-group.png" alt="">
        </div>
      </div>
    </div>



    <!-- Total Users -->
    <div class="stat-card">
      <div class="card-header">
        <div class="title-group">
          <span class="label">إجمالي المستخدمون</span>
          <span class="value blue">0</span>
        </div>
        <div class="icon blue">
          <img src="assets/images/blue-group.png" alt="">
        </div>
      </div>
    </div>

    <!-- Total Earnings -->
    <div class="stat-card">
      <div class="card-header">
        <div class="title-group">
          <span class="label">إجمالي المكاسب</span>
          <span class="value green">0 ريال</span>
        </div>
        <div class="icon green">
          <img src="assets/images/KSA-riyal.png" alt="">
        </div>
      </div>
    </div>

      <!-- Available Balance -->
    <div class="stat-card">
      <div class="card-header">
        <div class="title-group">
          <span class="label">الرصيد المتاح</span>
          <span class="value">0.00 ريال</span>
        </div>
        <div class="icon gray">
          <img src="assets/images/wallet.png" alt="">
        </div>
      </div>
    </div>

  </div>

  <!-- Bottom Row -->
  <div class="bottom-grid">

 <!-- Referral Link -->
    <div class="large-card">
      <h3 class="card-title centered-text">رابط الإحالة الخاص بك</h3>
      <div class="referral-input-group">
        <div class="link-box">
          pro.store/register?ref=586884
        </div>
      <button class="copy-btn">
      <i class="fa-regular fa-copy"></i>  </button>

      </div>
      <p class="referral-hint">شارك هذا الرابط لكسب عمولات عند تسجيل المستخدمين وشراء خطط</p>
    </div>



    <!-- Recently Returned Users -->
    <div class="large-card centered">
      <div class="card-top">
        <h3 class="card-title">المستخدمون المرجعون مؤخراً</h3>
         <button class="btn-outline">عرض الكل</button>

      </div>
      <div class="empty-state">
        <div class="empty-icon">
          <img src="assets/images/green-group.png" alt="">
        </div>
        <p class="empty-text">لا يوجد مستخدمون مرجعون بعد</p>
      </div>
    </div>

   </div>
</div>
