<nav class="sidebar">
  <div class="sidebar__nav">

    <!-- Main Icons -->
    <a class="nav-icon"
       routerLink="dash"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }">
      <img src="assets/images/sideBar-home.png">
    </a>

    <a class="nav-icon" routerLink="employee" routerLinkActive="active">
      <img src="assets/images/sideBar-user.png">
    </a>

    <a class="nav-icon" routerLink="off-times" routerLinkActive="active">
      <img src="assets/images/sideBar-clock.png">
    </a>

    <a class="nav-icon" routerLink="financial-activity" routerLinkActive="active">
      <img src="assets/images/sideBar-breifcase.png">
    </a>

    <a class="nav-icon" routerLink="forms" routerLinkActive="active">
      <img src="assets/images/sideBar-folder.png">
    </a>


         <!-- hiring -->
    <a class="nav-icon" (click)="toggleHiring()">
      <img src="assets/images/side-hiring.png" alt="">
    </a>

         <!-- performance -->
    <a class="nav-icon" (click)="toggleOriginal()">
      <img src="assets/images/side-awsol.png" alt="">
    </a>

         <!-- training -->
    <a class="nav-icon" (click)="toggleTraining()">
      <img src="assets/images/side-training.png" alt="">
    </a>


         <!-- performance -->
    <a class="nav-icon" (click)="togglePerformance()">
      <img src="assets/images/side-performance.png" alt="">
    </a>


         <!-- meetings -->
    <a class="nav-icon" (click)="toggleMeetings()">
      <img src="assets/images/side-meetings.png" alt="">
    </a>


    <a class="nav-icon" routerLink="reports" routerLinkActive="active">
      <img src="assets/images/sideBar-news.png">
    </a>

     <!-- Requests -->
    <a class="nav-icon" (click)="toggleCalender()">
      <img src="assets/images/side-calender.png">
    </a>


    <!-- Requests -->
    <a class="nav-icon" (click)="toggleRequests()">
      <img src="assets/images/sideBar-list.png">
    </a>

    <!-- Evaluations -->
    <a class="nav-icon" (click)="toggleEvaluationsMenu()">
      <img src="assets/images/sideBar-star.png">
    </a>

     <!-- plans -->
    <a class="nav-icon" (click)="togglePlansMenu()">
      <img src="../../../../assets/images/plans.png">
    </a>

     <!-- Referrals -->
    <a class="nav-icon" (click)="toggleReferralsMenu()">
      <img src="../../../../assets/images/side-referral.png">
    </a>


    <!-- Settings -->
    <a class="nav-icon" (click)="toggleSettingsMenu()">
      <img src="assets/images/sideBar-settings.png">
    </a>

  </div>
</nav>

<!-- Shared Overlay -->
<div class="modal-overlay"
     [class.active]="isRequestsOpen || isSettingsOpen || isEvaluationsOpen || isPlansOpen || isReferralsOpen || isCalenderOpen || isPerformanceOpen || isMeetingsOpen || isTrainingOpen || isOriginalOpen || isHiringOpen"
     (click)="closeAll()">
</div>

<div class="requests-modal" [class.active]="isEvaluationsOpen">
  <h3 class="modal-title">التقييمات</h3>

  <div class="modal-section">
    <ul class="requests-list">
      <li routerLink="/evaluations/categories" routerLinkActive="active" (click)="closeAll()">فئات مؤشر الأداء</li>
      <li routerLink="/evaluations/indicators" routerLinkActive="active" (click)="closeAll()">مؤشرات الأداء</li>
      <li routerLink="/evaluations/goal-types" routerLinkActive="active" (click)="closeAll()">أنواع الأهداف</li>
      <li routerLink="/evaluations/employee-goals" routerLinkActive="active" (click)="closeAll()">أهداف الموظفين</li>
      <li routerLink="/evaluations/review-cycles" routerLinkActive="active" (click)="closeAll()">دورات المراجعة</li>
      <li routerLink="/evaluations/reviews" routerLinkActive="active" (click)="closeAll()">مراجعات الموظفين</li>
      <li routerLink="/evaluations/pri" routerLinkActive="active" (click)="closeAll()">الجوائز</li>
      <li routerLink="/evaluations/pri-type" routerLinkActive="active" (click)="closeAll()">أنواع الجوائز</li>
      <li routerLink="/evaluations/lvl-up" routerLinkActive="active" (click)="closeAll()">الترقيات</li>

    </ul>
  </div>
</div>


<div class="requests-modal" [class.active]="isCalenderOpen">
  <h3 class="modal-title">التقويم</h3>

  <div class="modal-section">
    <ul class="requests-list">
      <li routerLink="/calender/handle" routerLinkActive="active" (click)="closeAll()">إدارة التقويم</li>
      <li routerLink="/calender/entry" routerLinkActive="active" (click)="closeAll()">ادارة ادخال الوقت</li>
    </ul>
  </div>
</div>

<div class="requests-modal" [class.active]="isOriginalOpen">
  <h3 class="modal-title">الاصول</h3>

  <div class="modal-section">
    <ul class="requests-list">
      <li routerLink="/original/origin-dash" routerLinkActive="active" (click)="closeAll()">لوحة تحكم الاصول </li>
      <li routerLink="/original/origins" routerLinkActive="active" (click)="closeAll()">الاصول </li>
      <li routerLink="/original/origin-types" routerLinkActive="active" (click)="closeAll()">انواع الاصول  </li>
      <li routerLink="/original/origin-dis" routerLinkActive="active" (click)="closeAll()">خصم الاصول   </li>

    </ul>
  </div>
</div>


<div class="requests-modal" [class.active]="isPerformanceOpen">
  <h3 class="modal-title">الاداء</h3>

  <div class="modal-section">
    <ul class="requests-list">
      <li routerLink="/performance/resign" routerLinkActive="active" (click)="closeAll()">الاستقالة </li>
      <li routerLink="/performance/quit" routerLinkActive="active" (click)="closeAll()">الانهاء  </li>
      <li routerLink="/performance/warn" routerLinkActive="active" (click)="closeAll()">التحذيرات </li>
      <li routerLink="/performance/comp" routerLinkActive="active" (click)="closeAll()">الشكاوي  </li>
      <li routerLink="/performance/trip" routerLinkActive="active" (click)="closeAll()"> الرحلات </li>
      <li routerLink="/performance/trans" routerLinkActive="active" (click)="closeAll()">تحويلات الموظفين </li>
      <li routerLink="/performance/off" routerLinkActive="active" (click)="closeAll()">العطلات  </li>

    </ul>
  </div>
</div>



<div class="requests-modal" [class.active]="isMeetingsOpen">
  <h3 class="modal-title">الاجتماعات</h3>

  <div class="modal-section">
    <ul class="requests-list">
      <li routerLink="/meetings/types" routerLinkActive="active" (click)="closeAll()">انواع الاجتماعات</li>
      <li routerLink="/meetings/attend" routerLinkActive="active" (click)="closeAll()">حضور  الاجتماعات</li>
      <li routerLink="/meetings/lectures" routerLinkActive="active" (click)="closeAll()">محاضر الاجتماعات</li>
      <li routerLink="/meetings/rooms" routerLinkActive="active" (click)="closeAll()">غرف الاجتماعات</li>
      <li routerLink="/meetings/rulez" routerLinkActive="active" (click)="closeAll()">بنود العمل</li>

    </ul>
  </div>
</div>



<div class="requests-modal" [class.active]="isRequestsOpen">
  <h3 class="modal-title">الطلبات</h3>

  <div class="modal-section">
    <span class="section-title">طلباتي</span>

    <ul class="requests-list">
      <li routerLink="/requests/handle" routerLinkActive="active" (click)="closeAll()">إدارة الطلبات</li>
      <li routerLink="/requests/overloading" routerLinkActive="active" (click)="closeAll()">طلب عمل إضافي</li>
      <li routerLink="/requests/off" routerLinkActive="active" (click)="closeAll()">طلب إجازة</li>
      <li routerLink="/requests/leave" routerLinkActive="active" (click)="closeAll()">طلب مغادرة</li>
      <li routerLink="/requests/out" routerLinkActive="active" (click)="closeAll()">طلب استقالة</li>
      <li routerLink="/requests/cash" routerLinkActive="active" (click)="closeAll()">طلب سلفة</li>
    </ul>
  </div>
</div>

<div class="requests-modal" [class.active]="isSettingsOpen">
  <h3 class="modal-title">الإعدادات</h3>

  <div class="modal-section">
    <ul class="requests-list">
      <li routerLink="/settings/info" routerLinkActive="active" (click)="closeAll()">معلومات الشركة</li>
      <li routerLink="/settings/policy" routerLinkActive="active" (click)="closeAll()">النظام</li>
      <li routerLink="/settings/accessibilities" routerLinkActive="active" (click)="closeAll()">الصلاحيات</li>
      <li routerLink="/settings/trade-mark" routerLinkActive="active" (click)="closeAll()">علامة تجارية</li>
      <li routerLink="/settings/email" routerLinkActive="active" (click)="closeAll()">البريد الإلكتروني</li>
      <li routerLink="/settings/change-password" routerLinkActive="active" (click)="closeAll()">تغيير كلمة المرور</li>
    </ul>
  </div>
</div>

<div class="requests-modal" [class.active]="isPlansOpen">
  <h3 class="modal-title">الخطط</h3>

  <div class="modal-section">
    <ul class="requests-list">
      <li routerLink="/plans/choose" routerLinkActive="active" (click)="closeAll()">اختر خططك</li>
      <li routerLink="/plans/requirements" routerLinkActive="active" (click)="closeAll()">متطلبات الخطة</li>
      <li routerLink="/plans/orders" routerLinkActive="active" (click)="closeAll()">اوامر الخطة</li>
      <li routerLink="/plans/advertising" routerLinkActive="active" (click)="closeAll()">الاعلانات </li>

    </ul>
  </div>
</div>

<div class="requests-modal" [class.active]="isReferralsOpen">
  <h3 class="modal-title">الاحاله</h3>

  <div class="modal-section">
    <ul class="requests-list">
      <li routerLink="/referral/dash" routerLinkActive="active" (click)="closeAll()">لوحة تحكم الاحالات  </li>
      <li routerLink="/referral/users" routerLinkActive="active" (click)="closeAll()">المستخدمون المرجعون </li>
      <li routerLink="/referral/pay" routerLinkActive="active" (click)="closeAll()">طلبات الدفع </li>
    </ul>
  </div>
</div>
