<nav class="sidebar">
  <div class="sidebar__nav">

    <!-- باقي الايقونات -->
    <a class="nav-icon" routerLink="dash" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <img src="assets/images/sideBar-home.png">
    </a>

    <a class="nav-icon" routerLink="employee" routerLinkActive="active">
      <img src="assets/images/sideBar-user.png">
    </a>

    <a class="nav-icon" routerLink="off-times" routerLinkActive="active">
      <img src="assets/images/sideBar-clock.png">
    </a>

    <a class="nav-icon" routerLink="financial-activity" routerLinkActive="active">
      <img src="assets/images/sideBar-breifcase.png">
    </a>

    <a class="nav-icon" routerLink="forms" routerLinkActive="active">
      <img src="assets/images/sideBar-folder.png">
    </a>

    <a class="nav-icon" routerLink="reports" routerLinkActive="active">
      <img src="assets/images/sideBar-news.png">
    </a>

    <!--  Requests Icon -->
    <a class="nav-icon" (click)="toggleRequests()">
      <img src="assets/images/sideBar-list.png" alt="List">
    </a>

    <!-- Overlay -->
    <div class="modal-overlay" *ngIf="isRequestsOpen" (click)="closeRequests()">
    </div>

    <!-- Requests Modal -->
    <div class="requests-modal" [class.active]="isRequestsOpen">

      <h3 class="modal-title">الطلبات</h3>

      <div class="modal-section">
        <span class="section-title">طلباتي</span>

        <ul class="requests-list">
  <li [routerLink]="'/requests/handle'" routerLinkActive="active">إدارة الطلبات</li>
  <li [routerLink]="'/requests/overloading'" routerLinkActive="active">طلب عمل إضافي</li>
  <li [routerLink]="'/requests/leave'" routerLinkActive="active">طلب إجازة</li>
  <li [routerLink]="'/requests/off'" routerLinkActive="active">طلب مغادرة</li>
  <li [routerLink]="'/requests/out'" routerLinkActive="active">طلب استقالة</li>
  <li [routerLink]="'/requests/cash'" routerLinkActive="active">طلب سلفة</li>
</ul>

      </div>
    </div>

    <a class="nav-icon">
      <img src="assets/images/sideBar-star.png">
    </a>

    <a class="nav-icon" routerLink="settings" routerLinkActive="active">
      <img src="assets/images/sideBar-settings.png">
    </a>

  </div>
</nav>