<nav class="sidebar">
  <div class="sidebar__nav">
    <a  class="nav-icon" routerLink="dash" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <img src="assets/images/sideBar-home.png" alt="Home" >
    </a>
    <a  class="nav-icon" routerLink="em" routerLinkActive="active" >
      <img src="assets/images/sideBar-user.png" alt="User" >
    </a>
    <a  class="nav-icon">
      <img src="assets/images/sideBar-clock.png" alt="Clock" >
    </a>
    <a  class="nav-icon">
      <img src="assets/images/sideBar-breifcase.png" alt="Briefcase" >
    </a>
    <a  class="nav-icon">
      <img src="assets/images/sideBar-folder.png" alt="Folder" >
    </a>
    <a  class="nav-icon">
      <img src="assets/images/sideBar-news.png" alt="News" >
    </a>
    <a  class="nav-icon">
      <img src="assets/images/sideBar-list.png" alt="List" >
    </a>
    <a  class="nav-icon">
      <img src="assets/images/sideBar-star.png" alt="Star" >
    </a>
    <a  class="nav-icon">
      <img src="assets/images/sideBar-settings.png" alt="Settings" >
    </a>
  </div>
</nav>
