.sidebar {
  width: 100%;
  background-color: var(--clr-bg-dark);
  color: var(--clr-text);
  padding: 1rem 0.5rem;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);

  .sidebar__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.9rem;
  }

  .nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    transition: var(--transition);
    position: relative;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
      filter: brightness(0) invert(1);
      transition: all 0.3s ease;
    }

    &:hover {
      background-color: var(--clr-hover);
      transform: translateY(-2px);

      img {
        transform: scale(1.1);
      }
    }

    &.active {
      background-color: var(--clr-hover);
      box-shadow: 0 0 8px rgba(6, 121, 110, 0.4);
      transform: translateY(-2px);

      img {
        filter: brightness(1.3);
        transform: scale(1.1);
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 20%;
        height: 60%;
        width: 3px;
        background-color: var(--clr-text);
        border-radius: 4px;
      }
    }
  }
}

@media (max-width: 1440px) { .sidebar { width: 80px; } }
@media (max-width: 1366px) { .sidebar { width: 78px; } }
@media (max-width: 1200px) { .sidebar { width: 75px; } }
@media (max-width: 1024px) { .sidebar { width: 70px; } }
@media (max-width: 900px)  { .sidebar { width: 65px; } }
@media (max-width: 820px)  { .sidebar { width: 60px; } }
@media (max-width: 768px)  {
  .layout { flex-direction: column-reverse; }
  .sidebar {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem 0;
    border-right: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    .sidebar__nav {
      flex-direction: row;
      justify-content: center;
      gap: 1.2rem;
    }

    .nav-icon {
      width: 40px;
      height: 40px;
      border-radius: 8px;
    }
  }
}
@media (max-width: 600px)  { .sidebar { width: 100%; height: auto; } }
@media (max-width: 414px)  { .sidebar { width: 100%; height: auto; } }
@media (max-width: 375px)  { .sidebar { width: 100%; height: auto; } }
@media (max-width: 360px)  { .sidebar { width: 100%; height: auto; } }
@media (max-width: 320px)  { .sidebar { width: 100%; height: auto; } }
