<div class="table-container container mt-4">
  <table class="table table-striped table-hover align-middle text-center">
    <thead class="table-header">
      <tr>
        <th>اسم البنك</th>
        <th>الفرع</th>
        <th>رقم الحساب البنكي</th>
        <th>الرقم الدولي للحساب البنكي</th>
        <th>نسبة التحويل من الراتب</th>
        <th>
          <button type="button" class="btn btn-outline-gradient">
            +
            <span> اضافة موظف</span>
          </button>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let bank of banks">
        <td>{{ bank.name }}</td>
        <td>{{ bank.branch }}</td>
        <td>{{ bank.account }}</td>
        <td>{{ bank.iban }}</td>
        <td>{{ bank.salaryRate }}</td>

        <td>
          <button type="button" class="btn btn-outline-gradient" >
            <img src="assets/images/report.png" alt class="btn-icon">
            <span> تعديل </span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<nav aria-label="صفحات">
  <ul class="pagination justify-content-start flex-row-reverse">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="السابق">
        <span aria-hidden="true">&raquo;</span> <!-- سهم لليسار -->
      </a>
    </li>

    <li class="page-item active">
      <a class="page-link" href="#">٢</a> <!-- رقم بالعربي -->
    </li>

    <li class="page-item">
      <a class="page-link" href="#" aria-label="التالي">
        <span aria-hidden="true">&laquo;</span> <!-- سهم لليمين -->
      </a>
    </li>
  </ul>
</nav>
