<div class="table-container container mt-4">
  <table class="table table-striped table-hover align-middle text-center">
    <thead class="table-header">
      <tr>
        <th>اسم البنك</th>
        <th>الفرع</th>
        <th>رقم الحساب البنكي</th>
        <th>الرقم الدولي للحساب البنكي</th>
        <th>نسبة التحويل من الراتب</th>
        <th>
          <button
  type="button"
  class="btn btn-outline-gradient"
  data-bs-toggle="modal"
  data-bs-target="#addBankAccountModal"
>
  +
  <span> اضافة حساب بنكي</span>
</button>
</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let bank of banks">
        <td>{{ bank.name }}</td>
        <td>{{ bank.branch }}</td>
        <td>{{ bank.account }}</td>
        <td>{{ bank.iban }}</td>
        <td>{{ bank.salaryRate }}</td>

        <td>
          <button type="button" class="btn btn-outline-gradient" >
            <img src="assets/images/report.png" alt class="btn-icon">
            <span> تعديل </span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Add Bank Account Modal -->
<div class="modal fade" id="addBankAccountModal" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content add-bank-modal">

    <div class="modal-header d-flex justify-content-between border-0">
  <h5 class="modal-title">🏦 اضافة حساب بنكي</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

      <div class="modal-body">

        <div class="row g-4">


          <div class="col-md-6">
            <label class="form-label">البنك</label>
            <select class="form-select">
              <option selected>البنك الأهلي</option>
            </select>
          </div>


 <div class="col-md-6">
            <label class="form-label">الفرع</label>
            <select class="form-select">
              <option selected>الزيتون</option>
            </select>
          </div>



          <div class="col-md-6">
            <label class="form-label">رقم الحساب البنكي</label>
            <input type="text" class="form-control" placeholder="ادخل رقم الحساب البنكي" />
          </div>


              <div class="col-md-6">
            <label class="form-label">الرقم الدولي للحساب البنكي</label>
            <input type="text" class="form-control" placeholder="ادخل الرقم الدولي للحساب البنكي" />
          </div>


          <div class="col-md-12">
            <label class="form-label">نسبة تحويل الراتب</label>
            <select class="form-select">
              <option selected>تحويل كامل</option>
            </select>
          </div>

        </div>

      </div>

      <div class="modal-footer border-0">
        <button type="button" class="confirm-btn">تأكيد</button>
      </div>

    </div>
  </div>
</div>



<nav aria-label="صفحات">
  <ul class="pagination justify-content-start flex-row-reverse">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="السابق">
        <span aria-hidden="true">&raquo;</span> <!-- سهم لليسار -->
      </a>
    </li>

    <li class="page-item active">
      <a class="page-link" href="#">٢</a> <!-- رقم بالعربي -->
    </li>

    <li class="page-item">
      <a class="page-link" href="#" aria-label="التالي">
        <span aria-hidden="true">&laquo;</span> <!-- سهم لليمين -->
      </a>
    </li>
  </ul>
</nav>
