<div class="container">
  <div class="row">
    <div class="col-md-4 profile d-flex">
      <div class="emp-img">
        <img src="assets/images/Guset-Avatar.png" alt="" />
      </div>

      <div class="emp-details d-flex flex-column">
        <h3>خالد حسن محمد</h3>
        <p>المسمي الوظيفي: <span class="stylish">مبرمج اودو</span></p>
        <p>الرقم الوظيفي: <span class="stylish"> 013</span></p>
        <p>
          وقت العمل بالشركة : <span class="stylish">3 شهور واربعة ايام </span>
        </p>
      </div>
    </div>
    <div class="col-md-8 breif">
      <div class="col-md-2">
        <p>الجنس: <span class="stylish">ذكر </span></p>
        <p>الجنسية: <span class="stylish"> سعودي</span></p>
        <p>
          البريد الالكتروني: <span class="stylish">abc@somewhere.com </span>
        </p>
      </div>
      <div class="col-md-2">
        <p>الرقم الوطني: <span class="stylish">123456 </span></p>
        <p>الحالة الاجتماعية: <span class="stylish"> متزوج</span></p>
        <p>رقم الهاتف : <span class="stylish">123456 </span></p>
      </div>
      <div class="col-md-2">
        <p>تاريخ الميلاد: <span class="stylish">13/3/2000 </span></p>
        <p>العمر : <span class="stylish"> 25</span></p>
        <p>رقم الهاتف المنزلي : <span class="stylish">لا يوجد </span></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="second d-flex flex-column">
      <div class="d-flex justify-content-between mb-3">
        <h3>معلومات وظيفية</h3>
        <div class="btns">
          <button type="button" class="btn-outline-designing">
            <i class="fa-solid fa-folder-open"></i> تحميل ملف خالد
          </button>
          <button type="button" class="btn-outline-gradient"><i class="fa-solid fa-pen-to-square"></i> تعديل</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <div class="collection d-flex flex-column">
            <p>المسمي الوظيفي</p>
            <p>مبرمج اودو</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="collection d-flex flex-column">
            <p>الشركة</p>
            <p>شركة افاق السبل لتقنية المعلومات</p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="collection d-flex flex-column">
            <p>تاريخ التعيين</p>
            <p>1 نوفمبر 2025</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="collection d-flex flex-column">
            <p>الراتب الاساسي</p>
            <p>25$</p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="collection d-flex flex-column">
            <p>ساعات العمل اليومية</p>
            <p>8 ساعات</p>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-2">
          <div class="collection d-flex flex-column">
            <p>المسمي الوظيفي</p>
            <p>مبرمج اودو</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="collection d-flex flex-column">
            <p>الشركة</p>
            <p>شركة افاق السبل لتقنية المعلومات</p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="collection d-flex flex-column">
            <p>تاريخ التعيين</p>
            <p>1 نوفمبر 2025</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="collection d-flex flex-column">
            <p>الراتب الاساسي</p>
            <p>25$</p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="collection d-flex flex-column">
            <p>ساعات العمل اليومية</p>
            <p>8 ساعات</p>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-2">
          <div class="collection d-flex flex-column">
            <p>المسمي الوظيفي</p>
            <p>مبرمج اودو</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="collection d-flex flex-column">
            <p>الشركة</p>
            <p>شركة افاق السبل لتقنية المعلومات</p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="collection d-flex flex-column">
            <p>تاريخ التعيين</p>
            <p>1 نوفمبر 2025</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="collection d-flex flex-column">
            <p>الراتب الاساسي</p>
            <p>25$</p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="collection d-flex flex-column">
            <p>ساعات العمل اليومية</p>
            <p>8 ساعات</p>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-2">
          <div class="collection d-flex flex-column">
            <p>المسمي الوظيفي</p>
            <p>مبرمج اودو</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="collection d-flex flex-column">
            <p>الشركة</p>
            <p>شركة افاق السبل لتقنية المعلومات</p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="collection d-flex flex-column">
            <p>تاريخ التعيين</p>
            <p>1 نوفمبر 2025</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="collection d-flex flex-column">
            <p>الراتب الاساسي</p>
            <p>25$</p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="collection d-flex flex-column">
            <p>ساعات العمل اليومية</p>
            <p>8 ساعات</p>
          </div>
        </div>
      </div>


      <div class="row total mt-2">
        <div class="col-md-3">
          <div class="d-flex align-items-center">
            <p class="mb-0 me-2 icon"><i class="fa-solid fa-plane mx-2"></i></p>

            <div class="d-flex flex-column">
              <p class="mb-0">اجازات سنوية</p>
              <p class="mb-0">عدد الأيام: 15 يوم</p>
              <p class="mb-0 text-muted">عدد الأيام المتبقية: 11 يوم</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="d-flex align-items-center">

            <p class="mb-0 me-2 icon"><i class="fa-regular fa-face-dizzy mx-2"></i></p>

            <div class="d-flex flex-column">
              <p class="mb-0">اجازات مرضية</p>
              <p class="mb-0">عدد الأيام: 10 ايام</p>
              <p class="mb-0 text-muted">عدد الأيام المتبقية: 8 يوم</p>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="d-flex align-items-center">

            <p class="mb-0 me-2 icon"><i class="fa-solid fa-laptop mx-2"></i></p>

            <div class="d-flex flex-column">
              <p class="mb-0">ايام عمل عن بعد </p>
              <p class="mb-0">عدد الأيام: 10 يوم</p>
              <p class="mb-0 text-muted">عدد الأيام المتبقية: 7 يوم</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="d-flex align-items-center">

            <p class="mb-0 me-2 icon"><i class="fa-solid fa-sack-dollar mx-2"></i></p>

            <div class="d-flex flex-column">
              <p class="mb-0">اجازة بدون مرتب </p>
              <p class="mb-0">عدد الأيام: 10 ايام</p>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
