
<div class="container">
  <div class="row">
    <div class="col-md-4 profile d-flex ">

      <div class="emp-img">
        <img src="assets/images/Guset-Avatar.png" alt="">
      </div>

      <div class="emp-details d-flex flex-column">
        <h3>خالد حسن محمد</h3>
        <p>المسمي الوظيفي: <span class="stylish">مبرمج اودو</span></p>
        <p>الرقم الوظيفي: <span class="stylish"> 013</span></p>
        <p>وقت العمل بالشركة : <span class="stylish">3 شهور واربعة ايام </span></p>
      </div>

    </div>
    <div class="col-md-8 profile">

    </div>
  </div>
</div>


