.stylish {
  color: black;
}

.profile {
  gap: 25px;
}

.profile p {
  color: #878787;
}

.emp-img img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 1;
  transform: rotate(0deg);
}

.breif {
  background-color: #F5F5F5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;

  /* FIX SCROLLING */
  flex-wrap: wrap;
}

.second {
  margin-top: 10px;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 10px;
}

.btns {
  display: flex;
  gap: 10px;
}

.btn-outline-gradient,
.btn-outline-designing {
  position: relative;
  z-index: 1;
  background-color: transparent;
  border: none;
  border-radius: 0.375rem;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  overflow: hidden;
}

.btn-outline-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(90deg, rgba(128, 120, 121, 0.2) 0%, #807879 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.btn-outline-gradient {
  color: black;
}

.btn-outline-gradient:hover {
  background-color: gray;
  color: white;
}

.btn-outline-designing {
  position: relative;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.375rem;
  color: #D49C3A;
  background: transparent;
  transition: all 0.3s ease;
}

.btn-outline-designing::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(90deg, rgba(212, 156, 58, 0.2) 0%, #D49C3A 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.btn-outline-designing:hover {
  background-color: #D49C3A;
  color: white;
}

.collection p {
  margin: 0;
  line-height: 1.4;
}

.total {
  border-top: 1px solid gray;
  .icon{
    font-size: 24px;
  }
}
