<div class="container">
  <div class="second">
    <div class="total">
      <div class="card">
        <div class="row-data">
          <p class="icon">✈️</p>
          <div class="d-flex flex-column txt">
            <p>اجازات سنوية</p>
            <p>15/3 يوم</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row-data">
          <p class="icon">🤒</p>
          <div class="d-flex flex-column txt">
            <p>اجازات مرضية</p>
            <p>10/5 يوم</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row-data">
          <p class="icon">💰</p>
          <div class="d-flex flex-column txt">
            <p>اجازات بدون اجر</p>
            <p>15/8 يوم</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row-data">
          <p class="icon">🚨</p>
          <div class="d-flex flex-column txt">
            <p>اجازات طارئة</p>
            <p>5/2 يوم</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row-data">
          <p class="icon">🤵‍♂️</p>
          <div class="d-flex flex-column txt">
            <p>اجازات زواج</p>
            <p>5/2 يوم</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row-data">
          <p class="icon">📘</p>
          <div class="d-flex flex-column txt">
            <p>اجازات دراسية</p>
            <p>5/2 يوم</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row-data">
          <p class="icon">🥀</p>
          <div class="d-flex flex-column txt">
            <p>عطلات وفاة</p>
            <p>15/3 يوم</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row-data">
          <p class="icon">📢</p>
          <div class="d-flex flex-column txt">
            <p>عطلات رسمية</p>
            <p>3 يوم</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
