<header class="navbar">
  <section class="navbar__left">
    <div class="navbar__logo">
      <h2>ادارة الموارد البشرية</h2>
    </div>
  </section>

  <section class="navbar__center">
    <form class="navbar__search">
      <input type="text" placeholder="عملية البحث" aria-label="بحث">
      <button type="submit" aria-label="بحث">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </section>

  <section class="navbar__right">
    <nav class="navbar__actions">

      <button type="button" class="navbar__btn">
        <img src="assets/images/nav-chatting.png" alt="" >
        <span>محادثة Ai</span>
      </button>

      <button type="button" class="navbar__btn">
        <img src="assets/images/nav-addition.png" alt="">
        <span>اضافة سريعة</span>
      </button>

      <button type="button" class="navbar__icon">
        <i class="fa fa-bell"></i>
        <span class="dot"></span>
      </button>

      <figure class="navbar__profile">
        <img src="assets/images/Guset-Avatar.png" alt="Profile">
      </figure>

    </nav>
  </section>
</header>
