<header class="header container-fluid py-3 bg-white">
  <div class="row g-0 mb-2 second-row justify-content-between">
    <div class="search-wrapper">
      <div class="search-bar">
        <span class="icon search">
          <i class="bi bi-search"></i>
        </span>
        <input type="text" class="search-input" placeholder="البحث عن فئة" />
        <span class="icon filter">
          <i class="bi bi-sliders"></i>
        </span>
      </div>
    </div>
    <button class="add-btn" data-bs-toggle="modal" data-bs-target="#addIndicatorModal" (click)="onAddClick()"> + اضافة جائزة</button>
  </div>
</header>

<div class="table-wrapper">
  <div class="table-container">
    <table class="custom-table">
      <thead>
        <tr>
          <th>موظف</th>
          <th>نوع الجائزة</th>
          <th>تاريخ المنحة</th>
          <th>هدية </th>
          <th>القيمة </th>
          <th>ملفات</th>
          <th>الاجرائات</th>
        </tr>
      </thead>
      <tbody>
  <tr *ngFor="let item of dataSource; let i = index">
  </tr>
</tbody>
</table>
  </div>

  <!-- PAGINATION -->
  <div class="pagination-container">
    <div class="pagination-right">تنقل بين الصفحات</div>
    <div class="pagination-left">
      <button class="nav-btn">→</button>
      <span class="page-numbe2">1</span>
      <button class="nav-btn">←</button>
    </div>
  </div>
</div>

<!-- BOOTSTRAP MODAL -->
<div class="modal fade" id="addIndicatorModal" tabindex="-1" aria-labelledby="addIndicatorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered custom-modal-width">
    <div class="modal-content p-4">
      <div class="modal-header d-flex justify-content-between border-0 pb-0">
         <h5 class="modal-title fw-bold" id="addIndicatorModalLabel">إضافة  جائزة  جديدة</h5>
     <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi bi-x-lg"></i>
        </button>

        </div>

      <div class="modal-body pt-4">
        <form [formGroup]="prizeForm">

          <div class="mb-2">
    <label for="status" class="form-label fw-semibold">الموظف</label>
    <select
      id="status"
      formControlName="status"
      class="form-select custom-input">
      <option value="نشط">A</option>
      <option value="غير نشط">B</option>
    </select>
  </div>

  <div class="mb-2">
    <label for="status" class="form-label fw-semibold">نوع الجائزة</label>
    <select
      id="status"
      formControlName="status"
      class="form-select custom-input">
    <option value="نشط">A</option>
      <option value="غير نشط">B</option>
     </select>
  </div>
             <div class="mb-4">
            <label class="form-label fw-semibold"> تاريخ منح الغرض</label>
            <input type="date" formControlName="name" class="form-control custom-input">
            <div *ngIf="prizeForm.get('name')?.touched && prizeForm.get('name')?.invalid" class="text-danger small">
              هذا الحقل مطلوب
            </div>
          </div>



  <div class="mb-2">
    <label for="indicatorName" class="form-label fw-semibold">
       الهدية <span class="text-danger">*</span>
    </label>
    <input
      type="text"
      id="indicatorName"
      formControlName="indicatorName"
      class="form-control custom-input"
    />
    <div *ngIf="prizeForm.get('indicatorName')?.touched && prizeForm.get('indicatorName')?.invalid"
         class="text-danger small mt-1">
      هذا الحقل مطلوب
    </div>
  </div>


 <div class="mb-4">
            <label class="form-label fw-semibold"> القيمة النقدية </label>
            <input type="number" formControlName="name" class="form-control custom-input">
            <div *ngIf="prizeForm.get('name')?.touched && prizeForm.get('name')?.invalid" class="text-danger small">
              هذا الحقل مطلوب
            </div>
          </div>


  <!-- الوصف -->
  <div class="mb-2">
    <label for="description" class="form-label fw-semibold">وصف</label>
    <textarea
      id="description"
      formControlName="description"
      class="form-control custom-input"
      rows="4">
    </textarea>
  </div>

 <!-- Attachments -->
          <div class="form-group">
            <label class="form-label">الشهادة</label>
         <div class="upload-wrapper">
  <input
    type="text"
    class="upload-input"
    placeholder="حدد ملف المرفق"
    readonly
  />

  <button type="button" class="browser-btn">
    <i class="bi bi-image"></i>
    Browser
  </button>
</div>
 </div>

           <!-- Attachments -->
          <div class="form-group">
            <label class="form-label">الصورة</label>
            <div class="upload-wrapper">
              <input type="text" class="upload-input" placeholder="حدد ملف المرفق" readonly>
            <button type="button" class="browser-btn">
                <i class="bi bi-image"></i> Browser
              </button>

            </div>
          </div>

</form>

      </div>

      <div class="modal-footer border-0 d-flex justify-content-start gap-3 pt-0">
        <button type="button" class="btn btn-cancel px-5 py-2" data-bs-dismiss="modal">إلغاء</button>
       <button type="button" class="btn btn-save px-5 py-2" (click)="saveIndicator()">حفظ</button>

      </div>
    </div>
  </div>
</div>
