<div class="table-container container mt-4">
  <table class="table table-striped table-hover align-middle text-center">
    <thead class="table-header">
      <tr>
        <th>اسم</th>
        <th>القيمة</th>
        <th>عدد الايام</th>
        <th>عدد الساعات(ان وجد)</th>
    <th>
  <div class="d-flex align-items-center justify-content-end gap-3">

    <input
      type="date"
      id="dateInput"
      class="form-control"
      style="max-width: 160px"
      [(ngModel)]="selectedDate"
    />

    <button type="button" class="btn btn-outline-gradient">
      +
      <span> اضافة راتب</span>
    </button>

  </div>
</th>
  </tr>
    </thead>
    <tbody>
      <tr>
        <td>الراتب الاساسي</td>
        <td>24$</td>
        <td>18 يوم</td>
        <td>144 ساعة</td>
        
        <td>
          <button type="button" class="btn btn-outline-gradient">
            <img src="assets/images/report.png" alt class="btn-icon" />
            <span> تعديل </span>
          </button>
        </td>
      </tr>
      <tr>
        <td>حوافز</td>
        <td>24$</td>
        <td>18 يوم</td>
        <td>144 ساعة</td>
        <td>
          <button type="button" class="btn btn-outline-gradient">
            <img src="assets/images/report.png" alt class="btn-icon" />
            <span> تعديل </span>
          </button>
        </td>
      </tr>

      <tr>
        <td>عمل اضافي</td>
        <td>24$</td>
        <td></td>
        <td></td>
        <td>
          <button type="button" class="btn btn-outline-gradient">
            <img src="assets/images/report.png" alt class="btn-icon" />
            <span> تعديل </span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<nav aria-label="صفحات">
  <ul class="pagination justify-content-start flex-row-reverse">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="السابق">
        <span aria-hidden="true">&raquo;</span>
        <!-- سهم لليسار -->
      </a>
    </li>

    <li class="page-item active">
      <a class="page-link" href="#">٢</a>
      <!-- رقم بالعربي -->
    </li>

    <li class="page-item">
      <a class="page-link" href="#" aria-label="التالي">
        <span aria-hidden="true">&laquo;</span>
        <!-- سهم لليمين -->
      </a>
    </li>
  </ul>
</nav>
