<section class="table-wrapper container-fluid mt-4">
  <div class="custom-table table-responsive">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>الشهر</th>
          <th>تاريخ الذهاب</th>
          <th>تاريخ الانتهاء</th>
          <th>ساعات الحضور </th>
          <th>ساعات الانصراف</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of movements">
          <td>سبتمبر2025</td>

          <td >
           الاحد سبتمبر 2025
          </td>

          <td>الثلاثاء 23 سبتمبر2025</td>
          <td>9 صباحا</td>

          <td >5 مساءا</td>

          <td class="d-flex justify-content-end">
         <i class="fa-solid fa-eye"></i>عرض   <button type="button" class="btn btn-delete" (click)="delete(row)"><i class="fa-solid fa-xmark text-danger"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
