<div class="table-container container mt-4">
  <table class="table table-striped table-hover align-middle text-center">
    <thead class="table-header">
      <tr>
        <th>العهدة </th>
        <th>نوع العهدة </th>
        <th>الرقم التسلسلي </th>
        <th>تاريخ البداية </th>
        <th>تاريخ التسليم </th>
        <th></th>
        <th><button type="button" class="btn btn-outline-gradient">
        +  
          <span> اضافة عهدة</span>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>اجهزة</td>
        <td>تليفون محمول</td>
        <td>xyz130031245</td>
        <td>1 يناير 2025 </td>
        <td>1 يناير 2026 </td>
        <td></td>
        <td><button type="button" class="btn btn-outline-gradient">
            <img src="assets/images/report.png" alt class="btn-icon">
            <span> تعديل </span>
          </button></td>
      </tr>
     <tr>
        <td>اموال</td>
        <td>1200$ </td>
        <td></td>
        <td>1 يناير 2025 </td>
        <td></td>
        <td></td>
        <td><button type="button" class="btn btn-outline-gradient">
            <img src="assets/images/report.png" alt class="btn-icon">
            <span> تعديل </span>
          </button></td>
      </tr>
     <tr>
        <td>سيارات</td>
        <td>مرسيديس مايباغ </td>
        <td></td>
        <td>1 يناير 2025 </td>
        <td>13 ابريل2028</td>
        <td></td>
        <td><button type="button" class="btn btn-outline-gradient">
            <img src="assets/images/report.png" alt class="btn-icon">
            <span> تعديل </span>
          </button></td>
      </tr>
      
    </tbody>
  </table>
</div>

<nav aria-label="صفحات">
  <ul class="pagination justify-content-start flex-row-reverse">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="السابق">
        <span aria-hidden="true">&raquo;</span> <!-- سهم لليسار -->
      </a>
    </li>

    <li class="page-item active">
      <a class="page-link" href="#">٢</a> <!-- رقم بالعربي -->
    </li>

    <li class="page-item">
      <a class="page-link" href="#" aria-label="التالي">
        <span aria-hidden="true">&laquo;</span> <!-- سهم لليمين -->
      </a>
    </li>
  </ul>
</nav>