.layout {
  display: flex;
  flex-direction: row;
  min-height: 89vh; /* default desktop */
}

.sidebar {
  flex: 0 0 83px;
  background-color: var(--clr-bg-dark);
  color: var(--clr-text);
  transition: var(--transition);
}

.main-content {
  flex: 1;
  padding: 1rem;
}

/* WIDTH + LAYOUT HEIGHT RESPONSIVE */
@media (max-width: 1440px) {
  .sidebar { width: 80px; }
  .layout { min-height: 88vh; }
}
@media (max-width: 1366px) {
  .sidebar { width: 78px; }
  .layout { min-height: 87vh; }
}
@media (max-width: 1200px) {
  .sidebar { width: 75px; }
  .layout { min-height: 86vh; }
}
@media (max-width: 1024px) {
  .sidebar { width: 70px; }
  .layout { min-height: 85vh; }
}
@media (max-width: 900px)  {
  .sidebar { width: 65px; }
  .layout { min-height: 84vh; }
}
@media (max-width: 820px)  {
  .sidebar { width: 60px; }
  .layout { min-height: 83vh; }
}
@media (max-width: 768px)  {
  .layout { flex-direction: column-reverse; min-height: auto; }
  .sidebar { width: 100%; height: auto; }
}
@media (max-width: 600px)  {
  .sidebar { width: 100%; height: auto; }
  .layout { min-height: auto; }
}
@media (max-width: 414px)  {
  .sidebar { width: 100%; height: auto; }
  .layout { min-height: auto; }
}
@media (max-width: 375px)  {
  .sidebar { width: 100%; height: auto; }
  .layout { min-height: auto; }
}
@media (max-width: 360px)  {
  .sidebar { width: 100%; height: auto; }
  .layout { min-height: auto; }
}
@media (max-width: 320px)  {
  .sidebar { width: 100%; height: auto; }
  .layout { min-height: auto; }
}
