<section class="table-wrapper container-fluid mt-4">
  <div class="custom-table table-responsive">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>الشهر</th>
          <th>تاريخ الذهاب</th>
          <th>تاريخ العودة</th>
          <th>عدد الايام</th>
          <th>الحالة</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of movements">
          <td>سبتمبر2025</td>

          <td >
           الاحد سبتمبر 2025
          </td>

          <td>الثلاثاء 23 سبتمبر2025</td>
          <td>4 ايام</td>

          <td >اجازة من ادارة الموارد البشرية</td>

          <td class="d-flex justify-content-end">
           <i class="fa-solid fa-eye my-2">عرض</i>
            <button type="button" class="btn btn-delete" (click)="delete(row)"><i class="fa-solid fa-xmark text-danger"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
