@use '@angular/material' as mat;

// لازم يتكتب مرة واحدة بس
@include mat.core();

// Define Palettes
$HR-primary: mat.define-palette(mat.$indigo-palette);
$HR-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$HR-warn: mat.define-palette(mat.$red-palette);

// Define Theme
$HR-theme: mat.define-light-theme((
  color: (
    primary: $HR-primary,
    accent: $HR-accent,
    warn: $HR-warn,
  )
));

// Apply Theme
@include mat.all-component-themes($HR-theme);
