@import "bootstrap/scss/bootstrap";


:root {
  --clr-bg: #045b52;
  --clr-bg-dark: #024b44;
  --clr-text: #ffffff;
  --clr-dot: #f44336;
  --clr-hover: #06796e;
  --transition: all 0.3s ease-in-out;
}



@font-face {
  font-family: 'Lyon Arabic Display';
  src: url('assets/fonts/Lyon_Arabic_2/COMM\ -\ Lyon\ Arabic\ Display\ Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lyon Arabic Display';
  src: url('assets/fonts/Lyon_Arabic_2/COMM\ -\ Lyon\ Arabic\ Display\ Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


  html, body {
    direction: rtl;
    text-align: right;
    font-family: lyon Arabic Display, sans-serif;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


