
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$HR-primary: mat.define-palette(mat.$indigo-palette);
$HR-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$HR-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$HR-theme: mat.define-light-theme((
  color: (
    primary: $HR-primary,
    accent: $HR-accent,
    warn: $HR-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($HR-theme);

@import "bootstrap/scss/bootstrap";


:root {
  --clr-bg: #045b52;
  --clr-bg-dark: #024b44;
  --clr-text: #ffffff;
  --clr-dot: #f44336;
  --clr-hover: #06796e;
  --transition: all 0.3s ease-in-out;
}

@font-face {
  font-family: 'Lyon Arabic Display';
  src: url('assets/fonts/Lyon_Arabic_2/COMM\ -\ Lyon\ Arabic\ Display\ Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lyon Arabic Display';
  src: url('assets/fonts/Lyon_Arabic_2/COMM\ -\ Lyon\ Arabic\ Display\ Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


  html, body {
    direction: rtl;
    text-align: right;
    font-family: lyon Arabic Display, sans-serif;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
