  :root {
  --clr-bg: #045b52;
  --clr-bg-dark: #024b44;
  --clr-text: #ffffff;
  --clr-dot: #f44336;
  --clr-hover: #06796e;
  --transition: all 0.3s ease-in-out;
}

  html, body {
    direction: rtl;
    text-align: right;
    font-family: "Cairo", sans-serif;
  }
