<div class="container">
  <div class="row mb-3">
    <div class="second d-flex flex-column">
      <div class="d-flex justify-content-between mb-3">
        <h3>ملفات العمل</h3>
        <div class="btns">
          <button type="button" class="btn-outline-gradient">
            <span class="stylish">➕</span>اضافة ملف
          </button>
        </div>
      </div>

      <div class="row total mt-2">
        <div class="col-md-2">
          <div class="d-flex align-items-center">
            <p class="mb-0 me-2 icon">📑</p>

            <div class="d-flex flex-column">
              <p class="mb-0">السيرة الذاتية</p>
              <p class="mb-0">خالد ميرمج.pdf</p>
              <p class="mb-0 text-muted">2 نوفمبر 2024</p>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="d-flex align-items-center">
            <p class="mb-0 me-2 icon">📑</p>

            <div class="d-flex flex-column">
              <p class="mb-0">شهادة التخرج</p>
              <p class="mb-0">حاسباات.pdf</p>
              <p class="mb-0 text-muted">2 نوفمبر 2024</p>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="d-flex align-items-center">
            <p class="mb-0 me-2 icon">📑</p>

            <div class="d-flex flex-column">
              <p class="mb-0">كعب العمل</p>
              <p class="mb-0">ورق العمل.pdf</p>
              <p class="mb-0 text-muted">2 نوفمبر 2024</p>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="d-flex align-items-center">
            <p class="mb-0 me-2 icon">📑</p>
            <div class="d-flex flex-column">
              <p class="mb-0">شهادة الجيش</p>
              <p class="mb-0">ورق العمل.pdf</p>
              <p class="mb-0 text-muted">2 نوفمبر 2024</p>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="d-flex align-items-center">
            <p class="mb-0 me-2 icon">📑</p>

            <div class="d-flex flex-column">
              <p class="mb-0">كعب العمل</p>
              <p class="mb-0">ورق العمل.pdf</p>
              <p class="mb-0 text-muted">2 نوفمبر 2024</p>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="d-flex align-items-center">
            <p class="mb-0 me-2 icon">📑</p>
            <div class="d-flex flex-column">
              <p class="mb-0">شهادة الجيش</p>
              <p class="mb-0">ورق العمل.pdf</p>
              <p class="mb-0 text-muted">2 نوفمبر 2024</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="second d-flex flex-column">
      <div class="d-flex justify-content-between mb-3">
        <h3>عقود العمل</h3>
        <div class="btns">
          <div class="btns">
            <button type="button" class="btn-outline-gradient">
              <span class="stylish">➕</span>اضافة عقد
            </button>
          </div>
        </div>
      </div>

      <div class="row total mt-2">
        <div class="col-md-3">
          <div class="d-flex align-items-center">
            <p class="mb-0 me-2 icon">📑</p>

            <div class="d-flex flex-column">
              <p class="mb-0">عقد عمل</p>
              <p class="mb-0">عقد العمل.pdf</p>
              <p class="mb-0 text-muted">2 نوفمبر 2024</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="d-flex align-items-center">
            <p class="mb-0 me-2 icon">📑</p>

            <div class="d-flex flex-column">
              <p class="mb-0">سرية البيانات</p>
              <p class="mb-0">سرية.pdf</p>
              <p class="mb-0 text-muted">2 نوفمبر 2024</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
